# base
BOOKS_DIR_LOCAL=/YOUR/PATH/TO/books
BOOKS_DIR_RELATIVE=/books
COMICS_DIR_LOCAL=/YOUR/PATH/TO/comics
COMICS_DIR_RELATIVE=/comics
CONFIG_BASE_DIR=/YOUR/PATH/TO/docker
DOCUMENTS_DIR_LOCAL=/YOUR/PATH/TO/documents
DOWNLOADS_DIR_COMPLETE_LOCAL=/YOUR/PATH/TO/downloads/complete1
DOWNLOADS_DIR_COMPLETE_RELATIVE=/complete-disco1
DOWNLOADS_DIR_COMPLETE_LOCAL2=/YOUR/PATH/TO/downloads/complete2
DOWNLOADS_DIR_COMPLETE_RELATIVE2=/complete-disco2
DOWNLOADS_DIR_INCOMPLETE_LOCAL=/YOUR/PATH/TO/downloads/incomplete
DOWNLOADS_DIR_INCOMPLETE_RELATIVE=/incomplete
DOWNLOADS_DIR_WATCH_LOCAL=/YOUR/PATH/TO/downloads/watch
DOWNLOADS_DIR_WATCH_RELATIVE=/watch
GATEWAY_IP=172.16.0.1
IP_RANGE=172.16.0.0/24
MOVIES_DIR_LOCAL=/YOUR/PATH/TO/movies
MOVIES_DIR_RELATIVE=/movies
MUSIC_DIR_LOCAL=/YOUR/PATH/TO/music
MUSIC_DIR_RELATIVE=/music
PERSONAL_DIR_LOCAL=/YOUR/PATH/TO/personal
PERSONAL_DIR_RELATIVE=/personal
TV_DIR_LOCAL=/YOUR/PATH/TO/tv
TV_DIR_RELATIVE=/tv
PGID=1000
PUID=1000
SUBNET=172.16.0.0/16
TZ=Europe/Madrid
UMASK=002

# (VPN) delugevpn/gluetun/nzbgetvpn/sabnzbdvpn/transmission/transmission-openvpn

#  delugevpn/gluetun/nzbgetvpn/sabnzbdvpn/transmission/transmission-openvpn
#  DEBUG=true

#  delugevpn/nzbgetvpn/sabnzbdvpn
#  ENABLE_PRIVOXY=yes
#  HEALTH_CHECK_HOST=google.com # transmission-openvpn

#  delugevpn/nzbgetvpn/sabnzbdvpn
#  LAN_NETWORK=[YOUR_LOCAL_LAN_NETWORK]
#  NAME_SERVERS=[YOUR_NAME_SERVERS]
#  transmission/transmission-openvpn
#  STRICT_PORT_FORWARD=yes
#  VPN_PROV=pia
#  VPN_CLIENT=openvpn
#  VPN_ENABLED=yes
#  VPN_OPTIONS=
#  ADDITIONAL_PORTS=1234


#  OPENVPN_CONFIG=us_california,us_west,us_east

#  transmission-openvpn
#  OPENVPN_OPTS=
#  OPENVPN_PROVIDER=PIA
#  PRIVATE_INTERNET_ACCESS_VPN_PORT_FORWARDING=on

#  delugevpn/gluetun/nzbgetvpn/sabnzbdvpn/transmission-openvpn
#  VPN_PASS=[YOUR_VPN_PASSWORD]
#  VPN_USER=[YOUR_VPN_USERNAME]

#  gluetun
#  VPN_SERVICE_PROVIDER=nordvpn
#  WIREGUARD_PRIVATE_KEY=[YOUR_WIREGUARD_PRIVATE_KEY]
#  SERVER_COUNTRY=Switzerland,Estonia,Iceland,Romania

# deluge/delugevpn
DELUGE_DAEMON_LOG_LEVEL=info
DELUGE_ENABLE_WEBUI_PASSWORD=yes
DELUGE_WEB_LOG_LEVEL=info

# exportarr
BAZARR_API_KEY=[YOUR_BAZARR_APIKEY]
LIDARR_API_KEY=[YOUR_LIDARR_APIKEY]
PROWLARR_API_KEY=[YOUR_PROWLARR_APIKEY]
RADARR_API_KEY=[YOUR_RADARR_APIKEY]
READARR_API_KEY=[YOUR_READARR_APIKEY]
SABNZBD_API_KEY=[YOUR_SABNZBD_APIKEY]
SONARR_API_KEY=[YOUR_SONARR_APIKEY]

# grafana
GRAFANA_DATABASE_NAME=grafanadb
GRAFANA_DATABASE_USER=admin
GRAFANA_DATABASE_PASSWORD=testpassword

# homeassistant
HOMEASSISTANT_PGID=1000
HOMEASSISTANT_PUID=1000
HOMEASSISTANT_CONFIG_BASE_DIR=/YOUR/PATH/TO/homeassistant
HOMEASSISTANT_DATA_DIR_1_LOCAL=/YOUR/PATH/TO/data/tmp
HOMEASSISTANT_DATA_DIR_2_LOCAL=/YOUR/PATH/TO/data/etc
HOMEASSISTANT_DATA_DIR_3_LOCAL=/YOUR/PATH/TO/data/mnt
HOMEASSISTANT_DATA_DIR_1_RELATIVE=/foo_tmp
HOMEASSISTANT_DATA_DIR_2_RELATIVE=/foo_etc
HOMEASSISTANT_DATA_DIR_3_RELATIVE=/foo_mnt

#  kometa
#  KOMETA_PLEX_TOKEN=[YOUR_PLEX_CLAIM_CODE_WITHOUT_claim-]
#  KOMETA_PLEX_URL=[http(s)://YOUR_PLEX_URL:32000_or_XXXXX]

#  nzbget
#  NZBGET_WEBUI_PASSWORD=[YOUR_NZBGET_PASSWORD]
#  NZBGET_WEBUI_USERNAME=[YOUR_NZBGET_USERNAME]

#  photoprism
PHOTOPRISM_USERNAME=admin
PHOTOPRISM_PASSWORD=testpassword

PHOTOPRISM_DATABASE_NAME=photoprism-db
PHOTOPRISM_DATABASE_USER=admin
PHOTOPRISM_DATABASE_PASSWORD=testpassword
PHOTOPRISM_DATABASE_ROOT_PASSWORD=testpassword
PHOTOS_DIR_LOCAL=/YOUR/PATH/TO/photos

# redis
REDIS_URL=redis://redis:6379/0

#  immich
#  IMMICH_DB_DATABASE_NAME=immich-db
#  IMMICH_DB_PASSWORD=testpassword
#  IMMICH_DB_USERNAME=admin
#  IMMICH_VERSION=release

# Homarr
HOMARRENCRYPTKEY=[YOUR_HOMARRENCRYPTKEY]

#  plex
#  PLEX_CLAIM=claim-[YOUR_PLEX_CLAIM_CODE]

# portainer
PORTAINER_PASSWORD='YOUR_OWN_HASHED_PASSWORD'    #user: 'admin', password: 'testpassword' in human stuff

#  rana
#  RANA_ARGUMENTS='-n=j0hnwyles,j0hnwyl3s -c 4' # Example prefix sub-strings to find

#  searxng
#  SEARXNG_HOSTNAME=localhost

# syncthing
SYNCTHING_MOUNT_DIR_1_LOCAL=/YOUR/PATH/TO/sync/movies
SYNCTHING_MOUNT_DIR_1_RELATIVE=/sync-movies
SYNCTHING_MOUNT_DIR_2_LOCAL=/YOUR/PATH/TO/sync/tv-shows
SYNCTHING_MOUNT_DIR_2_RELATIVE=/sync-tv-shows

#  tailscale
#  TAILSCALE_HOSTNAME=[YOUR_TAILSCALE_HOSTNAME]
#  TAILSCALE_STATE_ARG="mem:"
#  TS_ACCEPT_DNS=true
#  TS_AUTHKEY=[YOUR_TAILSCALE_AUTHKEY]
#  TS_DEST_IP=
#  TS_EXTRA_ARGS=--reset --advertise-exit-node --ssh
#  TS_KUBE_SECRET=
#  TS_OUTBOUND_HTTP_PROXY_LISTEN=
#  TS_ROUTES=
#  TS_SOCKET=/tmp/tailscaled.sock
#  TS_SOCKS5_SERVER=
#  TS_STATE_DIR=/var/lib/tailscale
#  TS_TAILSCALED_EXTRA_ARGS=
#  TS_USERSPACE=

#  transmission/transmission-openvpn
#  TRANSMISSION_USER=admin
#  TRANSMISSION_PASS=admin
#  OPENVPN_CONFIG=[COMMA_SEPARATED_LIST_OF_PREFIX_FOR_OVPN_FILES e.g. us_california,us_east,ca_vancouver,mexico]
#  OPENVPN_OPTS=

# unpacker
UN_LIDARR_0_API_KEY=[YOUR_LIDARR_APIKEY]
UN_RADARR_0_API_KEY=[YOUR_RADARR_APIKEY]
UN_READARR_0_API_KEY=[YOUR_READARR_APIKEY]
UN_SONARR_0_API_KEY=[YOUR_SONARR_APIKEY]

# wallabag
#  WALLABAG_DATABASE_NAME=[YOUR_WALLABAG_DATABASE_NAME]
#  WALLABAG_DATABASE_PASSWORD=[YOUR_WALLABAG_DATABASE_PASSWORD]
#  WALLABAG_DATABASE_ROOT_PASSWORD=[YOUR_WALLABAG_DATABASE_ROOT_PASSWORD]
#  WALLABAG_DATABASE_USER=[YOUR_WALLABAG_DATABASE_USER]
#  WALLABAG_DOMAIN_NAME=[YOUR_WALLABAG_DOMAIN_NAME]
#  WALLABAG_FROM_EMAIL=[YOUR_WALLABAG_FROM_EMAIL]
#  WALLABAG_SERVER_NAME=[YOUR_WALLABAG_SERVER_NAME]

# watchtower
WATCHTOWER_HTTP_API_TOKEN=[YOUR_WATCHTOWER_HTTP_API_TOKEN]
WATCHTOWER_NOTIFICATION_URL=[http(s)://YOUR_WATCHTOWER_WEBHOOK_URL_IF_YOU_HAVE_ONE]
WATCHTOWER_POLL_INTERVAL=21600


# nextcloud-aio
NEXTCLOUD_UPLOAD_LIMIT=16G
NEXTCLOUD_MAX_TIME=3600
NEXTCLOUD_MEMORY_LIMIT=512M
NEXTCLOUD_TRUSTED_CACERTS_DIR=/YOUR/PATH/TO/cacerts
NEXTCLOUD_STARTUP_APPS=deck twofactor_totp tasks calendar contacts notes
NEXTCLOUD_ADDITIONAL_APKS=imagemagick
NEXTCLOUD_ADDITIONAL_PHP_EXTENSIONS=imagick
NEXTCLOUD_ENABLE_DRI_DEVICE=true
NEXTCLOUD_DATADIR=/YOUR/PATH/TO/ncdata
NEXTCLOUD_MOUNT=/YOUR/PATH/TO/mount
APACHE_PORT=11000
COLLABORA_SECCOMP_DISABLED=false
FULLTEXTSEARCH_JAVA_OPTIONS="-Xms1024M -Xmx1024M"

# flaresolverr
LOG_LEVEL=info
LOG_HTML=false
CAPTCHA_SOLVER=none
PORT=8191

# pinchflat
PINCHFLAT_USERNAME=admin
PINCHFLAT_PASSWORD=admin
PINCHFLAT_CONFIG_DIR=/YOUR/PATH/TO/pinchflat/config
PINCHFLAT_DOWNLOADS_DIR=/YOUR/PATH/TO/downloads

# ports configuration
# media players
EMBY_PORT_WEB=8097
EMBY_PORT_HTTPS=8921
JELLYFIN_PORT_WEB=8096
JELLYFIN_PORT_HTTPS=8920
JELLYFIN_PORT_SERVICE_DISC1=1900
JELLYFIN_PORT_SERVICE_DISC2=7359
JELLYSEERR_PORT=5056
OVERSEERR_PORT=5055
PLEX_PORT_WEB=32400
PLEX_PORT_DLNA1=3005
PLEX_PORT_DLNA2=8324
PLEX_PORT_ROKU1=32410
PLEX_PORT_ROKU2=32412
PLEX_PORT_ROKU3=32413
PLEX_PORT_ROKU4=32414
PLEX_PORT_ROKU5=32469
TAUTULLI_PORT=8181

# indexers
JACKETT_PORT=9117

# downloaders
PINCHFLAT_PORT=8945
GLUETUN_PORT_GUI1=6000
GLUETUN_PORT_GUI2=7000
GLUETUN_PORT_QBITTORRENT1=6881
GLUETUN_PORT_QBITTORRENT2=8091
GLUETUN_PORT_DELUGE=8112
GLUETUN_PORT_SABNZBD=8080
GLUETUN_PORT_TRANSMISSION=9091
GLUETUN_PORT_TRANSMISSION2=51413
DELUGE_PORT_GUI=8112
DELUGE_PORT_PROXY=8118
DELUGE_PORT_DAEMON1=58846
DELUGE_PORT_DAEMON2=58946
NZBGET_PORT=6789
QBITTORRENT_PORT_GUI=8091
QBITTORRENT_PORT_TCP=6881
QBITTORRENT_PORT_UDP=6881

# servarr
BAZARR_PORT=6767
BAZARR_EXPORTER_PORT=9712
LIDARR_PORT=8686
LIDARR_EXPORTER_PORT=9709
PROWLARR_PORT=9696
PROWLARR_EXPORTER_PORT=9710
RADARR_PORT=7878
RADARR_EXPORTER_PORT=9708
READARR_PORT=8787
READARR_EXPORTER_PORT=9713
SONARR_PORT=8989
SONARR_EXPORTER_PORT=9707

# tools and utilities
PHOTOPRISM_PORT=2342
HOMARR_PORT=7575
TDARR_PORT_SERVER=8265
TDARR_PORT_INTERNAL=8266
PAPERLESS_PORT=8001
SEARXNG_PORT=8082
DASHDOT_PORT=3001

# monitoring
ALERTMANAGER_PORT=9093
CADVISOR_PORT=9080  # Changed from 8080 to avoid conflict with gluetun
GRAFANA_PORT=3000
IPERF_PORT=5201
NODE_EXPORTER_PORT=9100
PROMETHEUS_PORT=9090
REDIS_PORT=6379
SNMP_EXPORTER_PORT=9116
WATCHTOWER_PORT=8484

# nextcloud
NEXTCLOUD_PORT_HTTP=85
NEXTCLOUD_PORT_INTERNAL=8085
NEXTCLOUD_PORT_HTTPS=8443

# flaresolverr
FLARESOLVERR_PORT=8191

# ebooks
CALIBRE_PORT_GUI=3060
CALIBRE_PORT_INTERNAL=3061
CALIBRE_WEB_PORT=8083

# additional ports for commented services
KOMETA_PORT=8086
WALLABAG_PORT=8092

# docker resource limits
GRAFANA_MEM_LIMIT=512m
GRAFANA_CPU_SHARES=512
CADVISOR_MEM_LIMIT=256m
CADVISOR_MEM_RESERVATION=64m
CADVISOR_CPU_SHARES=512
NODE_EXPORTER_MEM_LIMIT=256m
NODE_EXPORTER_MEM_RESERVATION=64m
NODE_EXPORTER_CPU_SHARES=512
PROMETHEUS_MEM_LIMIT=1g
PROMETHEUS_CPU_SHARES=768
SNMP_EXPORTER_MEM_LIMIT=256m
SNMP_EXPORTER_MEM_RESERVATION=64m
SNMP_EXPORTER_CPU_SHARES=512

# grafana config
GRAFANA_PLUGINS=grafana-clock-panel,grafana-simple-json-datasource,natel-discrete-panel,grafana-piechart-panel
GRAFANA_HEALTH_CHECK_URL=http://localhost:3000/api/health

# prometheus config
PROMETHEUS_RETENTION_TIME=60d

# watchtower config
WATCHTOWER_CLEANUP=true
WATCHTOWER_INCLUDE_RESTARTING=true
WATCHTOWER_INCLUDE_STOPPED=true
WATCHTOWER_LABEL_ENABLE=false
WATCHTOWER_NOTIFICATION_REPORT=true
WATCHTOWER_REMOVE_VOLUMES=true

# nextcloud config
NEXTCLOUD_AIO_VOLUME_NAME=nextcloud_aio_mastercontainer

# photoprism config
PHOTOPRISM_ADMIN_AUTH_MODE=password
PHOTOPRISM_AUTH_INTERVAL=10
PHOTOPRISM_LOGIN_LIMIT=100
PHOTOPRISM_LOGIN_INTERVAL=60
PHOTOPRISM_SITE_AUTHOR="Optimus Prime"
PHOTOPRISM_SITE_CAPTION="Megatron must be stopped. No matter the cost."
PHOTOPRISM_SITE_DESCRIPTION="There is a thin line between being a hero and being a memory."
PHOTOPRISM_SITE_TITLE="PhotoPrism"
PHOTOPRISM_SITE_URL="http://localhost:2342/"
